#wrapper {
	height: 500px;
	width: 964px;
	margin-right: auto;
	margin-left: auto;
	background-color: #FFF;
	border: 1px solid #ededed;
}
#logo {
	height: auto;
	width: 370px;
	margin-top: 15px;
	margin-left: 15px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 70px;
	font-weight: bold;
	color: #394545;
	float: left;
}
#loginsearch {
	float: right;
	height: 50px;
	width: 260px;
	margin-top: 20px;
	margin-right: 15px;
	text-align: right;
	padding-top: 15px;
}
#navigation {
	float: left;
	height: 60px;
	width: 900px;
	margin-top: 30px;
	margin-bottom: 30px;
}
#navigation {
	float: left;
	height: 60px;
	width: 934px;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-right: 15px;
	margin-left: 15px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 29px;
	color: #009abc;
}
