a {
	cursor: pointer;
}

.clear {
	clear: both;
}

.homebtn{
width:400px;
height:12px;
padding:50px;
display:block;
}

.hide-text {
text-indent: 100%;
white-space: nowrap;
overflow: hidden;
}

body {
	margin: 0;
	padding: 0;
}

#wrapper {
	width: 960px;
	margin: 0 auto;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
}

 #header, #featured, #solutions,#events, #news, #ourstory, #contactus,
#sitemap {
	position: relative;
	top: 0px;
	-moz-box-sizing:    border-box;
	-webkit-box-sizing: border-box;
	box-sizing:        border-box;
}

#bar {
	background: #f5f6f8;
	height: 54px;
}

#header {
	height: 160px;
	background: url(../images/header.png) no-repeat 0 0;
}

#featured {
	height: 530px;
}

#events {
	height: 432px;
}

#news {
	height: 640px;
}

#ourstory {
	height: 438px;
}

.fullwidth {
	border-top: 1px solid #d6d6d6;
	position:relative;
	top: -152px;
}
.contact {
	background: #fafafa;
}

.sitemap {
	background: url(../images/sitemap-background.jpg) repeat 0 0;
}

.footer {
	background: #e8e8e8 url(../images/footer-background.jpg) no-repeat center top;
	height: 400px;
}

#contactus, #sitemap {
	width: 960px;
	margin: 0 auto;
}

#contactus {
	height: 615px;
	background: url(../images/contactus.jpg) no-repeat 0 0;
}

#sitemap {
	height: 708px;
	background: url(../images/sitemap.jpg) no-repeat 0 0;
}

#contactinfo {
	width: 574px;
	height: 324px;
	margin: 40px auto;
	background: url(../images/contactinfo.png) no-repeat 0 0;
}

/* Main Navigation */

ul#mainnav {
	list-style-position: inside;
	padding: 113px 0 0 0; 
	margin: 0;
}

ul#mainnav li{
	display: inline-block;
	margin-right: 20px; 
}

ul#mainnav li a {
	color: #009abc;
	font-size: 33px;
	font-family: 'Lato', sans-serif;
	text-decoration: none;	
}

ul#mainnav li a:hover {
	color: #003a69;
}

#solutions a.button {
	position: absolute;
	bottom: 24px;
	left: 670px;
}

a.socialmedia {
	display: block;
	position: absolute; 
	width: 120px;
	height: 120px;
}

/* News Rollover Example */

.news-example {
	position: absolute;
	top: 132px;
	left: -3px;
	height: 132px;
	width: 430px;
	background: url(../images/news-example.png) no-repeat 0 0;
}

.news-example:hover {
	background: url(../images/news-example.png) no-repeat 0 -132px;
}

/* Facebook Rollover Example */

.facebook {
	top: 540px;
	left: 0px;
	background: url('../images/facebook.png') no-repeat 0 0;
}

.facebook:hover {
	background: url('../images/facebook.png') no-repeat 0 -120px;
}

/* Event Rollover Example */

.events-example {
	position: absolute;
	top: 143px;
	left: -2px;
	height: 87px;
	width: 242px;
	background: url(../images/events-example.png) no-repeat 0 0;
}

.events-example:hover {
	background: url(../images/events-example.png) no-repeat 0 -87px;
}

.button {
	font-family: 'Lato', sans-serif;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding:5px 20px;
	background: #4bc8b6;
	text-decoration: none;
	font-size: 30px;
	color: #fff;
}

.button:hover {
	background: #27b39e;
}

.customerlogin {
	width: auto;
	float: right;
	font-family: 'Lato', sans-serif;
	font-size: 26px;
	margin-top: 10px;
}
.button.customerlogin {
	float: right;
	margin: 5px 0px; 
}

/* Slider Example - Using BX Slider */

#slider {
	width: 960px;
	position: relative;
	left: 0px;
	height: 355px;
}

.bx-controls {
	position: relative;
	top: -40px;
	left: 375px;
}

.bx-wrapper .bx-viewport {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	border: none;
	left: -5px;
	height: 530px;
}

.bx-wrapper {
	position: relative;
	margin: 0;
	padding: 0;
	*zoom: 1;
	height: 530px;
}

.bx-wrapper .bx-pager.bx-default-pager .bx-pager-item a{
	width: 30px;
	height: 30px;	
	background: url(../images/radial_off.png);
}

.bx-wrapper .bx-pager.bx-default-pager .bx-pager-item a.active{
	width: 30px;
	height: 30px;	
	background: url(../images/radial_on.png);
}