#left-column-container{
	float: left;
	height: auto;
	width: 64%;
	margin-bottom: 30px;
}

#right-column-container{
	float: left;
	height: auto;
	width: auto;
	margin: 0 0 45px 0;
}

.checkbox-container{
	height: auto;
	width: auto;
	margin-top: 10px;
	margin-right: 25px;
	margin-bottom: 20px;
	font-size: 20px;
	float: left;
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	color: #3f4545;
}
.searchbox-container{
	height: auto;
	width: auto;
	margin-bottom: 20px;
	float: right;
}

.checkbox-text{
	height: auto;
	padding: 0 0 0 8px;
	font-size: 20px;
	float: left;
	display: block;
	cursor: pointer;
}
.sortby-text{
	height: auto;
	width: auto;
	margin-top: 10px;
	margin-right: 15px;
	margin-bottom: 20px;
	font-size: 20px;
	float: left;
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	color: #3f4545;
}

.checkbox-text:hover{
	height: auto;
	padding: 0 0 0 8px;
	font-size: 20px;
	float: left;
	display: block;
	color: #009abc;
}
.checkbox-text:visited{
	height: auto;
	padding: 0 0 0 8px;
	font-size: 20px;
	float: left;
	display: block;
	color: #3f4545;
}
.checkbox-text:active{
	height: auto;
	padding: 0 0 0 8px;
	font-size: 20px;
	float: left;
	display: block;
	color: #009abc;
}

#search-bar{
	width: 960px;
	height: auto;
	margin-bottom: 15px;
}

#hope{
	width: 960px;
	height: auto;

}

#link-box-container {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 30px;
	font-weight: bold;
	color: #009abc;
	width: 296px;
	margin-left: 15px;
	padding:  15px;
	border: 1px solid #dddddd;
	background: #f7f7f7;
}

.calendar-container {
	width: 327px;
	height: 327px;
	margin: 15px 0 0 15px;
	background: url(../images/calendar.gif) 0 0;
}

.calendar-container:hover {
	width: 327px;
	height: 327px;
	margin: 15px 0 0 15px;
	background: url(../images/calendar.gif) 327px 0;
	background-repeat: no-repeat;
	background-position: right 0%;
}

#accordion-container {
	font-size: 20px;
	width: 100%;
	margin-bottom: 15px;
	border-bottom: 1px solid #dddddd;

}

.accordion-header {
	width: auto;
	font-size: 30px;
	font-family: Arial, Helvetica, sans-serif;
	height: 106px;
	background: #ebebeb;
	margin: 0 0 0 0;
	padding: 10px 10px;
	border-left: 1px solid #dddddd;
	border-right: 1px solid #dddddd;
	border-top: 1px solid #dddddd;
	cursor: pointer;
	color: #009abc;
}

.active-header {
	width: auto;
	background: url(../images/active-header.jpg) #f7f7f7;
	background-repeat: no-repeat;
	background-position: right 0%;
}

.active-header:hover {
	background: url(../images/active-header.jpg) #f7f7f7;
	background-repeat: no-repeat;
	background-position: right 0%;
}

.inactive-header {
	background: url(../images/inactive-header.jpg) #f7f7f7;
	background-repeat: no-repeat;
	background-position: right 0%;
}

.inactive-header:hover {
	background: url(../images/inactive-header.jpg) #ffffff;
	background-repeat: no-repeat;
	background-position: right 0%;
}

.accordion-content {
	width: auto;
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
	display: none;
	padding: 10px;
	background: #f7f7f7;
	border-right: 1px solid #dddddd;
	border-left: 1px solid #dddddd;
	border-top: 0;
}
.image-container {
	float: left;
	height: auto;
	width: auto;
}
.headline-container {
	float: left;
	height: auto;
	width: auto;
	margin-left: 20px;
	margin-top: 10px;
}
.date-location-container {
	font-size: 20px;
	color: #3f4545;
	float: left;
	height: auto;
	width: auto;
	margin-left: 20px;
	margin-top: 5px;
}
